Source: ros-kinetic-visualstates
Section: misc
Priority: extra
Maintainer: Okan Aşık <asik.okan@gmail.com>
Build-Depends: debhelper (>= 9.0.0), ros-kinetic-catkin
Homepage: 
Standards-Version: 3.9.2

Package: ros-kinetic-visualstates
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, libpyside2-dev, libshiboken2-dev, pyqt5-dev, python-pyqt5, python-pyqt5.qsci, python-pyqt5.qtsvg, python-pyside2, python-rospkg, python-sip-dev, python-sysv-ipc, python-yaml, shiboken2
Description: The VisualStates is reactive hierarchical visual robot planning tool.
